<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>

    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">

      <section name="PolicyValidator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>

    </sectionGroup>

  </configSections>

  <userSettings>

    <PolicyValidator.Properties.Settings>
      <setting name="RootDir" serializeAs="String">
        <value>Nextlabs\Root</value>
      </setting>
      <setting name="Enovia_Resource_Type" serializeAs="String">
        <value>portal</value>
      </setting>
      <setting name="Server_Resource_Type" serializeAs="String">
        <value>fso</value>
      </setting>
      <setting name="SAP_Resource_Type" serializeAs="String">
        <value>object</value>
      </setting>
      <setting name="Portal_Resource_Type" serializeAs="String">
        <value>portal</value>
      </setting>
      <setting name="Filesystem_Resource_Type" serializeAs="String">
        <value>fso</value>
      </setting>
      <setting name="JavaPC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Timeout_S" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PC_Port" serializeAs="String">
        <value>9233</value>
      </setting>
      <setting name="PC_IP_Address" serializeAs="String">
        <value>10.23.58.131</value>
      </setting>
      <setting name="Enovia_Action_Attributes" serializeAs="String">
        <value>OPEN,CHECKOUT,CHECKIN,REMOVEFILE,CONNECT,DISCONNECT</value>
      </setting>
      <setting name="Enovia_Resource_Attributes" serializeAs="String">
        <value>ENOVIA-TYPE,ENOVIA-NAME,IP-ADDRESS</value>
      </setting>
      <setting name="Enovia_Subject_Attributes" serializeAs="String">
        <value />
      </setting>
      <setting name="Server_Action_Attributes" serializeAs="String">
        <value />
      </setting>
      <setting name="Server_Resource_Attributes" serializeAs="String">
        <value />
      </setting>
      <setting name="Server_Subject_Attributes" serializeAs="String">
        <value />
      </setting>
      <setting name="Sap_Action_Attributes" serializeAs="String">
        <value>RUN,DELETE,SAP_COPY_FROM</value>
      </setting>
      <setting name="Sap_Resource_Attributes" serializeAs="String">
        <value>EXPSECRTY,EXPORTLIC,CMPSECRTY,ECCN,USML,IP_SECRTY</value>
      </setting>
      <setting name="Sap_Subject_Attributes" serializeAs="String">
        <value />
      </setting>
      <setting name="Filesystem_Action_Attributes" serializeAs="String">
        <value>OPEN,RUN,COPY,MOVE,RENAME,DELETE</value>
      </setting>
      <setting name="Filesystem_Resource_Attributes" serializeAs="String">
        <value />
      </setting>
      <setting name="Filesystem_Subject_Attributes" serializeAs="String">
        <value />
      </setting>
      <setting name="Portal_Action_Attributes" serializeAs="String">
        <value>UPLOAD,DOWNLOAD</value>
      </setting>
      <setting name="Portal_Resource_Attributes" serializeAs="String">
        <value />
      </setting>
      <setting name="Portal_Subject_Attributes" serializeAs="String">
        <value />
      </setting>
      <setting name="Connection_Check_Timeout_S" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Database_Host" serializeAs="String">
        <value>VM-MINH-PC</value>
      </setting>
      <setting name="Database_Port" serializeAs="String">
        <value>270171</value>
      </setting>
      <setting name="Database_Collection" serializeAs="String">
        <value>PolicyValidator</value>
      </setting>
      <setting name="Database_User" serializeAs="String">
        <value>pvadmin</value>
      </setting>
      <setting name="Database_Password" serializeAs="String">
        <value>Nextlabs123</value>
      </setting>
      <setting name="Database_Name" serializeAs="String">
        <value>PolicyValidator</value>
      </setting>
    </PolicyValidator.Properties.Settings>

  </userSettings>

  <log4net>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">

      <param name="File" value="${APPDATA}\Nextlabs\Logs\PolicyValidator.log"/>

      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>

      <appendToFile value="true"/>

      <rollingStyle value="Size"/>

      <maxSizeRollBackups value="2"/>

      <maximumFileSize value="1MB"/>

      <staticLogFileName value="true"/>

      <layout type="log4net.Layout.PatternLayout">

        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>

      </layout>

    </appender>



    <root>

      <level value="ALL"/>

      <appender-ref ref="LogFileAppender"/>

    </root>

  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
